.text-container {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease; 
    transform: translatex(120px); 
}

.swiper-slide-active .text-container {
    opacity: 1;
    transform: translateY(0);
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
    padding-bottom: 30px
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-height: 16px; /* Adjust the height */
    --swiper-pagination-bullet-size: 16px; /* Adjust the size */
    opacity: 0.5; /* Optional: Adjust the opacity */
}

.swiper-pagination-bullet:hover {
    width: 16px ;
    height: 16px ;
    opacity: 1;
}
